.hi-guys {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:150px;
    color: violet;
    
}
@media screen and (max-width: 480px) and (min-width: 320px) {
    .hi-guys {
        color: green;
        
    }
    
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .hi-guys {
        color: orange
    }
}
@media screen and (min-width: 1281px) {
    .hi-guys {
        color:purple;
    }
}